<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>148954935000-ngskdm4a71qbndn28iscgai65o0vl06p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.148954935000-ngskdm4a71qbndn28iscgai65o0vl06p</string>
	<key>API_KEY</key>
	<string>AIzaSyDoqpZ1xLK-ikBXlj4or_mSAwzqkXVRqbE</string>
	<key>GCM_SENDER_ID</key>
	<string>148954935000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sleemanb01.managertaxi</string>
	<key>PROJECT_ID</key>
	<string>manager-taxi</string>
	<key>STORAGE_BUCKET</key>
	<string>manager-taxi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:148954935000:ios:17ab669607db46650871ad</string>
</dict>
</plist>